body {
    background-color: rgb(230,230,250);
}
#div1 {
    background-color: green;
    width: 800px;
    height: 100px;
    border-style: groove;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
#div2 {
    background-color: pink;
    width: 100px;
    height: 400px;
    border-style: double;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
#div3 {
    background-color: blue;
    width: 700px;
    height: 100px;
    border-style: inset;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
#div4 {
    background-color: yellow;
    width: 500px;
    height: 100px;
    border-style: ridge;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}




